body{
  background-color: !important;
}
#banner{
  height:500px;
  background: rgba(0, 0, 0, 0) linear-gradient(160deg, rgb(0, 255, 251) 0%, rgb(0, 255, 13) 100%) repeat scroll 0% 0% / auto padding-box border-box
}
.bannerfont{
  width:100px;
}
.logo{
  float:left;
  font-weight:bold;
  width:200px;
  margin-left:100px;
  margin-top:30px;
}
.logo-text{
  float:left;
  font-size:20px;
  margin-top:6px;
}
.logo-img{
  float:left;
}
.featured{
  width:1280px;
  margin-top:100px;
  height:100%;
}
.ft-vid{
  width:100%;
  margin-top:20px;
}
#ft-vidtop{
  margin-left:240px;
  position: absolute;
}
#ft-vidleft{
 margin-top:50px;
 margin-right:20%;
}
#ft-vidright{
 margin-top:50px;
}
.banner-footer{
  font-size:18px;
  margin-top:90px;
}
.row{
  margin-bottom:60px;
}
.channel-title{
  margin-bottom:20px;
  font-size:18px;
  font-weight:bold;
  color:black;
}
.video-wrap{
  float:left;
  margin-right:10px;
}
.video{
  width:282px;
  height:150px;
  background-color:gray;
}
.video-title{
  margin-top:10px;
  margin-left:2px;
  color:white;
}
.category-img{
  width:100%;
  height:100%;
}
.player{
  width:282px;
  height:180px;

}
